<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <title>Simple Todo List</title>
  <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="/css/todo.css" rel="stylesheet" media="screen">
</head>
<body>
<script src="/js/jquery-latest.js"></script>
<script src="/js/bootstrap.js"></script>

<!-- Show navbar -->
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Todo</a>
      <div id="main-menu" class="nav-collapse">
        <ul id="main-menu-left" class="nav">
          <li><a href="#" onclick="return false;" class="show-add-form">Add</a></li>
          <li><a href="#" onclick="return false;" class="show-list">List</a></li>
        </ul>
        <ul id="main-menu-right" class="nav pull-right">
          <li>
            <a href="{{ logout_url }}" rel="tooltip" >
              Logout <i class="icon-off icon-white"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1>Todo List</h1>

  <!-- Show flashes -->
  {% for flash, level in flashes %}
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> {{ flash }}
    </div>
  {% endfor %}

  <!-- Show add form -->
  <form id="add-form" class="span9" method="post" action="/">
    <button type="button" class="close default-hidden hide hide-add-form">&times;</button>
    <fieldset>
      <legend class="default-hidden hide">Add New Todo Item</legend>
      <input type="text" size="50" class="input-xxlarge show-add-form"
             name="text" placeholder="Write new todo item here"
             autocomplete="off" id="add-box">
      <div id="hider-div" >
        <span class="help-block"></span>
        <textarea placeholder="More details about item." name="details"
                  class="default-hidden hide input-xxlarge"></textarea>
        <span class="help-block"></span>
        <button type="submit" name="op" value="add"
                class="default-hidden hide btn">Submit </button>
        <button type="reset"
                class="default-hidden hide btn hide-add-form">Cancel</button>
      </div>
    </fieldset>
  </form>

  <!-- Show todo items -->
  {% if todos.count() %}
    <ul class="span10 items unstyled">
      {% for todo in todos %}
      <li class="row item">
        <div class="row text">
          <div class="span10">
            {{ todo.text }}
          </div>
        </div>
        <div class="row detail hide">
          <div class="span9">
            {{ todo.details }}
          </div>
          <div class="span1">
            <a class="btn btn-mini btn-danger"
               href="?op=delete&key={{ todo.key() }}">
              Delete
            </a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="span7 offset1 well well-small">
      There is no items in todo list!
    </div>
  {% endif %}

</div>
<script src="/js/todo.js"></script>
</body>
</html>